# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Jupyter Notebook Checkpoints
.ipynb_checkpoints
# Jetbrains
Data Structures and Algorithms.iml
.idea
out
# Microsoft Visual Studio Code
.vscode
